################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UniversityDemo/v16/Server/sqlite3/db.lock
/.vs
/bin
/obj
bin/
obj/
/Properties/serviceDependencies.local.json.user
/Properties/serviceDependencies.local.json
/Properties/serviceDependencies.json
